<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-primary"
                style="filter: brightness(0.5);background-image: url('assets/img/theme/nsc-tech-serv1.jpg');background-size: cover; background-position: center center;">
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
    </div>
    <section class="section section-lg pt-lg-0 mt--200 pb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div data-aos="zoom-out" class="row row-grid">
                        <div class="card card-lift--hover shadow border-0">
                            <div class="card-header">
                                <div>
                                    <span class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                        <i class="fa fa-laptop"></i>
                                    </span>
                                    <div class="header-icon-title">
                                        <h2 class="display-3 text-primary pl-2">Our Portfolio</h2>
                                    </div>
                                </div>
                                <h4 class="justify-content-center pt-3 pl-1">Exploring our creative journey and
                                    exceptional work </h4>
                            </div>
                            <div class="card-body">
                                <p class="ns-fs-11 description mt-3">Discover a showcase of our finest projects,
                                    where creativity meets excellence. We take pride in every detail and strive
                                    to exceed expectations, delivering solutions that leave a lasting
                                    impression. Our portfolio reflects our passion for innovation and our
                                    commitment to making a meaningful impact in the world</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg pt-lg-0">
        <div class="container">
            <div class="row justify-content-center pt-3">
                <div *ngFor="let i of customArray"
                    data-aos="zoom-in" class="row pt-3">
                    <div class="col-lg-6 pb-3">
                        <div class="card card-lift--hover shadow border-0 height-100">
                            <div class="card-body py-5">
                                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                    <i class="fa fa-cogs"></i>
                                </div>
                                <h6 class="text-primary text-uppercase">{{portfolioItems[i].name}}</h6>
                                <p class="ns-fs-11 description mt-3">{{portfolioItems[i].description}}</p>
                            </div>
                        </div>
                    </div>

                    <ng-container *ngIf="portfolioItems[i + 1]">
                        <div class="col-lg-6 pb-3">
                            <div class="card card-lift--hover shadow border-0 height-100">
                                <div class="card-body py-5">
                                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                        <i class="fa fa-cogs"></i>
                                    </div>
                                    <h6 class="text-primary text-uppercase">{{portfolioItems[i+1].name}}</h6>
                                    <p class="ns-fs-11 description mt-3">{{portfolioItems[i+1].description}}</p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </section>


</main>