<main class="profile-page">
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-primary"
                style="filter: brightness(0.5);background-image: url('assets/img/theme/nsc-tech-serv1.jpg');background-size: cover; background-position: center center;">
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div data-aos="zoom-out" class="col-lg-12">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-header">
                                    <span class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                        <i class="fa fa-users"></i>
                                    </span>
                                    <div class="header-icon-title pl-3">
                                        <h2 class="text-primary display-3 justify-content-center">About Us </h2>
                                    </div>
                                    <h4 class="mt-0 pt-3 pl-1">Passionate professionals driving innovation for a better world.</h4>
                                </div>
                                <div class="card-body">
                                    <p class="ns-fs-11 description mt-3"><b class="font-weight-bold">
                                            NascentTechnologies </b>is like
                                        the virtual bridge
                                        between job seekers,
                                        project
                                        developers and clients, providing them with end-to-end solutions; with a team of
                                        qualified, experienced and like-minded people with a “Vision and Mission” to
                                        achieve
                                        a common goal by delivering niche support and services in the field of IT and
                                        Non-IT
                                        having a back-up team of equally qualified and efficient Developers,
                                        Programmers,
                                        Strategic Planners who invest their entire knowledge and resources in
                                        understanding
                                        the ever growing trends and area to area economic development and help create a
                                        bridge to satisfy the demands of our Clients globally</p>
                                    <p class="ns-fs-11 description mt-3"><b class="font-weight-bold">
                                            NascentTechnologies </b>understands the business
                                        needs and believe that every need is
                                        Unique and therefore, bear in mind all the objectives or our Clients that should
                                        be fulfilled in a very methodical process, eliminating chances of doubts or
                                        failures. Immaterial of the size of the Client or Company, we extend all our
                                        skill sets to build a strong long term relationship with them. In other words,
                                        NascentTechnologies tends to act as extended arms of Clients in their Planning,
                                        Projects, etc.</p>
                                    <p class="ns-fs-11 description mt-3">With the kind of team that <b
                                            class="font-weight-bold">NascentTechnologies </b>has and the capacity to
                                        deliver
                                        and consider every job assigned to us as though it is something that we
                                        ourselves wanted to do. Proper practices, firm decision making and timely action
                                        gives us the upper hand to cater to the needs of the clients, in addition to our
                                        relationship, understanding and support by providing various zones of services
                                        to them.</p>
                                    <p class="ns-fs-11 description mt-3"><b
                                            class="font-weight-bold">NascentTechnologies</b> does understand the dynamic
                                        and never ending changes taking
                                        place in the business scenario globally with the life span of technologies
                                        rapidly reducing and new technologies emerging at an even more rapid pace. This
                                        is where our expertise and experience plays the role in ensuring that
                                        NascentTechnologies would be the right asset to the clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>