.nc-nav-container {
    height: 35px;
}

.headroom--not-top {
    background-color: white !important;
    padding: 20px;
}

.headroom--pinned {
    background-color: #ffffffc7  !important;
}

.navbar-nav .nav-item {
    margin-right: 0rem !important;
}


.navbar-nav .nav-link {
    font-family: 'Poiret One', sans-serif !important;
    font-weight: bolder;
    letter-spacing: 0.05em;

    .nav-link-inner--text {
        margin-left: 0rem !important;
    }
}

.navbar-nav .nav-item a:hover {
    background-color: #8898aa;
    border-radius: 5px;
}

.navbar-brand img {
    height: 100px;
}

.nav-link i:not(.fa) {
    left: 5px !important;
}

.nav-link {
    color: #1e3c7a !important;
}

.nav-link-inner--text {
    position: relative;

}


@media screen and (max-width: 950px) {
    .ns-d-sm-none {
        display: none !important;
    }

    .nav-link-inner--text {
        left: 10px;
        position: relative;
    }
}