<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      Nascent Technologies
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/landing']">
              <img src="./assets/img/brand/logo-wt-1.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link no-caret" role="button" [routerLink]="['/about-us']">
            <span class="nav-link-inner--text">About Us</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-bold-down"></i>
            <span class="nav-link-inner--text">Services</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="shadow-lg--hover dropdown-item">IT Consulting Services</a>
            <a [routerLink]="['/landing']" class="shadow-lg--hover dropdown-item">IT Project Services</a>
            <a [routerLink]="['/landing']" class="shadow-lg--hover dropdown-item">GIS Services</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link no-caret" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Support</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-bold-down"></i>
            <span class="nav-link-inner--text">Our Catalogue</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="shadow-lg--hover dropdown-item">Our Portfolio</a>
            <a [routerLink]="['/landing']" class="shadow-lg--hover dropdown-item">Our Jobs</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link no-caret" role="button" [routerLink]="['/contact-us']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Contact Us</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>