.nc-nav-container {
    max-width: initial !important;
}

.navbar-nav .nav-item {
    margin-right: 0rem !important;
}

.navbar-collapse {
    margin-left: 130px !important;
}

.navbar-nav .nav-link {
    font-family: 'Poiret One', sans-serif !important;
    font-weight: bolder;
    letter-spacing: 0.05em;
    .nav-link-inner--text {
        margin-left: 0rem !important;
    }
}

.navbar-brand {
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: bolder !important;
    color: white;
    font-family: 'Poiret One', sans-serif;
}

