.nc-nav-container {
    max-width: initial !important;
}

.navbar-nav .nav-item {
    margin-right: 0rem !important;
}


.navbar-nav .nav-link {
    font-family: 'Poiret One', sans-serif !important;
    font-weight: bolder;
    letter-spacing: 0.05em;

    .nav-link-inner--text {
        margin-left: 0rem !important;
    }
}

.navbar-nav .nav-item a:hover {
    background-color: #8898aa;
    border-radius: 5px;
}

.navbar-brand {
    font-size: 18px;
    letter-spacing: 0.2em;
    font-weight: bolder !important;
    color: white;
    font-family: 'Poiret One', sans-serif;
}

.nav-link i:not(.fa) {
    left: 5px !important;
}

.nav-link-inner--text {
    left: px;
    position: relative;
}


@media screen and (max-width: 950px) {
    .ns-d-sm-none {
        display: none !important;
    }
    .nav-link-inner--text {
        left: 10px;
        position: relative;
    }
}
