.color-alert {
    color: #f75676;
}


.input-group-alternative:has(.ng-invalid.ng-touched) {
    box-shadow: 0px 0px 4px #f5365c !important;
}


@media (min-width: 400px) and (max-width: 950px) {
    #resume {
        padding-top: 10px;
        padding-left: 0px !important;
    }

}

