<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-primary"
                style="filter: brightness(0.5);background-image: url('assets/img/theme/nsc-tech-serv1.jpg');background-size: cover; background-position: center center;">
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
    </div>

    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row row-grid">
                        <div data-aos="zoom-out" class="col-lg-12">
                            <div class="card card-lift--hover shadow border-0">
                                <div class="card-header header-icon-div">
                                    <span class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                        <i class="fa fa-suitcase"></i>
                                    </span>
                                    <div class="header-icon-title  pl-3">
                                        <h2 class="text-primary display-3 justify-content-center">
                                            {{currentJobInfo.title}}</h2>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row" *ngFor="let name of nameSetKeys">
                                        <div *ngIf="nameSet[name]['type']!='List' ; else elseBlock"
                                            class="col-lg-12 row">
                                            <div class="col-lg-4">
                                                <span class="font-weight-bold">{{nameSet[name]}}</span>
                                                <span class="pl-5 font-weight-bold">:</span>
                                            </div>
                                            <div class="col-lg-7">{{currentJobInfo.details[name]}}</div>
                                        </div>

                                        <ng-template #elseBlock>
                                            <div class="col-lg-12 row">
                                                <div class="col-lg-4">
                                                    <span class="font-weight-bold">{{nameSet[name]['title']}}</span>
                                                </div>
                                                <div class="col-lg1">:</div>
                                                <div class="col-lg-12 pb-1 pt-1">
                                                    {{currentJobInfo.details[name]['notes']}}</div>
                                                <div *ngFor="let jobList of currentJobInfo.details[name]['list']"
                                                    class="col-lg-12">
                                                    <div class="col-lg-12 pb-1 pt-1">
                                                        {{jobList['notes']}}</div>
                                                    <ul>
                                                        <li *ngFor="let listItem of jobList['list']">
                                                            {{listItem}}</li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </ng-template>
                                    </div>
                                    <div class="row pt-3">
                                        <div class="col-lg-2">
                                            <span class="font-weight-bold">Job Category</span>
                                        </div>
                                        <div class="col-lg1">:</div>
                                        <div class="col-lg-7">{{currentJobInfo['jobCategory']}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <span class="font-weight-bold">Job Type</span>
                                        </div>
                                        <div class="col-lg1">:</div>
                                        <div class="col-lg-7">{{currentJobInfo['type']}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <span class="font-weight-bold">Job Location</span>
                                        </div>
                                        <div class="col-lg1">:</div>
                                        <div class="col-lg-7">{{currentJobInfo['location']}}</div>
                                    </div>
                                    <div class="container pt-lg-7 pt-3 pb-3">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8">
                                                <div class="card bg-secondary border-0">
                                                    <div class="card-header bg-white">
                                                        <div class="text-center">
                                                            <h4>Apply for this position </h4>
                                                        </div>
                                                    </div>
                                                    <div class="card-body px-lg-5 py-lg-5">
                                                        <form [formGroup]="requiredForm" novalidate>
                                                            <div class="form-group">
                                                                <div class="input-group input-group-alternative mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i
                                                                                class="ni ni-hat-3"></i></span>
                                                                    </div>
                                                                    <input formControlName="name" class="form-control"
                                                                        placeholder="Name" type="text">
                                                                </div>
                                                                <div *ngIf="requiredForm.controls['name'].invalid && requiredForm.controls['name'].touched"
                                                                    class="pl-1 color-alert">
                                                                    <div
                                                                        *ngIf="requiredForm.controls['name'].errors.required">
                                                                        Name is required.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group input-group-alternative mb-3">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i
                                                                                class="ni ni-email-83"></i></span>
                                                                    </div>
                                                                    <input formControlName="email" class="form-control"
                                                                        placeholder="Email" type="email">
                                                                </div>
                                                                <div *ngIf="requiredForm.controls['email'].invalid && requiredForm.controls['email'].touched"
                                                                    class="pl-1 color-alert  mt-3">
                                                                    <div
                                                                        *ngIf="requiredForm.controls['email'].errors.required; else elseBlock">
                                                                        Email is required.
                                                                    </div>
                                                                    <ng-template #elseBlock>
                                                                        Please Enter Valid Email
                                                                    </ng-template>
                                                                </div>
                                                            </div>
                                                            <div class="form-group focused">
                                                                <div class="input-group input-group-alternative">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i
                                                                                class="ni ni-mobile-button"></i></span>
                                                                    </div>
                                                                    <input formControlName="phoneNumber"
                                                                        class="form-control" placeholder="Telephone"
                                                                        type="tel" id="phone" name="phone">
                                                                </div>
                                                                <div *ngIf="requiredForm.controls['phoneNumber'].invalid && requiredForm.controls['phoneNumber'].touched"
                                                                    class="pl-1 color-alert  mt-3">
                                                                    <div
                                                                        *ngIf="requiredForm.controls['phoneNumber'].errors.required; else elseBlock">
                                                                        Telephone Number is required.
                                                                    </div>
                                                                    <ng-template #elseBlock>
                                                                        Please Enter Valid Telephone.
                                                                    </ng-template>
                                                                </div>
                                                            </div>
                                                            <div class="form-group focused">
                                                                <div class="input-group input-group-alternative">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"><i
                                                                                class="ni ni-email-83"></i></span>
                                                                    </div>
                                                                    <textarea formControlName="coverLetter"
                                                                        class="form-control"
                                                                        id="exampleFormControlTextarea1" rows="3"
                                                                        placeholder="Cover Letter"></textarea>
                                                                </div>
                                                                <div *ngIf="requiredForm.controls['coverLetter'].invalid && requiredForm.controls['coverLetter'].touched"
                                                                    class="pl-1 color-alert mt-3">
                                                                    <div
                                                                        *ngIf="requiredForm.controls['coverLetter'].errors.required; else elseBlock">
                                                                        Cover Letter is required.
                                                                    </div>
                                                                    <ng-template #elseBlock>
                                                                        Please enter minimum 10 characters.
                                                                    </ng-template>
                                                                </div>
                                                            </div>
                                                            <div class="form-group focused">
                                                                <div class="input-group">
                                                                    <span>Upload CV/Resume</span>
                                                                    <input id="resume" type="file" name="awsm_file"
                                                                        class="pl-4" formControlName="resume" #fileInput
                                                                        accept=".pdf, .doc, .docx">
                                                                </div>
                                                                <div class="pl-1 color-alert mt-3"
                                                                    *ngIf="requiredForm.get('resume').invalid && requiredForm.get('resume').touched">
                                                                    Please upload the Resume.
                                                                </div>
                                                            </div>
                                                            <div class="row my-4">
                                                                <div class="col-12">
                                                                    <div
                                                                        class="custom-control custom-control-alternative custom-checkbox">
                                                                        <input class="custom-control-input"
                                                                            formControlName="agreementChecked"
                                                                            id="customCheckRegister" type="checkbox">
                                                                        <label class="custom-control-label"
                                                                            for="customCheckRegister"><span>
                                                                                By using this form you agree with the
                                                                                storage and handling of your
                                                                                data by this website.</span></label>
                                                                    </div>
                                                                    <div class="pl-1 color-alert mt-3"
                                                                        *ngIf="requiredForm.get('agreementChecked').invalid && requiredForm.get('agreementChecked').touched">
                                                                        You must agree to the terms and conditions.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="text-center">
                                                                <button (click)="sendEmail(classic2)" type="button"
                                                                    class="btn btn-primary mt-4">Submit</button>
                                                                <ng-template #classic2 let-c="close" let-d="dismiss">
                                                                    <div class="modal-content">
                                                                        <div class="modal-body">
                                                                            <div class="py-3 text-center">
                                                                                <div
                                                                                    *ngIf="notificationModalPositive; else elseBlock">
                                                                                    <h5 class="mt-2">We've received your
                                                                                        question.<br> Our team will
                                                                                        get back to you soon.</h5>
                                                                                </div>
                                                                                <ng-template #elseBlock>
                                                                                    <h5 class="mt-2">We apologize, but
                                                                                        it seems there's a technical
                                                                                        glitch at the
                                                                                        moment. Please refresh the page
                                                                                        and try again.</h5>
                                                                                </ng-template>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer justify-content-start">
                                                                            <button type="button"
                                                                                (click)="c('Close click')"
                                                                                class="btn btn-primary">Ok, Got
                                                                                it</button>
                                                                        </div>
                                                                    </div>
                                                                </ng-template>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>