/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Edu SA Beginner', cursive !important;
}

.ns-fs-11 {
    font-size: 1.1rem !important;
}

.ns-header {
    font-family: 'Mochiy Pop One', sans-serif;
}

.height-100 {
    height: 100%;
}

.display-inline {
    display: inline;
}

.mt--50 {
    margin-top: -50px;
}

.header-icon-title {
    position: fixed;
    display: inline;
    margin-top: -2px;
}