<main class="profile-page">
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-primary"
                style="filter: brightness(0.5);background-image: url('assets/img/theme/nsc-tech-serv1.jpg');background-size: cover; background-position: center center;">
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
    </div>


    <section class="section section-lg pt-lg-0 mt--200 pb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12" style="max-width: 97%;">
                    <div data-aos="zoom-out" class="row row-grid">
                        <div class="card card-lift--hover shadow border-0">
                            <div class="card-header">
                                <div class="header-icon-div">
                                    <span class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                        <i class="fa fa-laptop"></i>
                                    </span>
                                    <div class="header-icon-title">
                                        <h2 class="display-3 text-primary pl-2">IT Consulting services</h2>
                                    </div>
                                </div>
                                <h4 class="justify-content-center pt-3 pl-1">Exploring our creative journey and
                                    exceptional work </h4>
                            </div>
                            <div class="card-body">
                                <p class="ns-fs-11 description mt-3" [innerHTML]="description">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-lg pt-5">
        <div class="container">

            <div *ngFor="let item of customArray" data-aos="zoom-in" class="row pb-2">
                <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                    <div class="card card-lift--hover shadow border-0 height-100">
                        <div class="card-body py-5">
                            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                <i [ngClass]="services[item].iconName"></i>
                            </div>
                            <h5 class="font-weight-bold mt-3">{{services[item].title}}</h5>
                            <p class=" mt-3" [innerHTML]="services[item].description"></p>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf="services[item + 1]">
                    <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                        <div class="card card-lift--hover shadow border-0 height-100">
                            <div class="card-body py-5">
                                <div
                                    class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                    <i [ngClass]="services[item+1].iconName"></i>
                                </div>
                                <h5 class="font-weight-bold mt-3">{{services[item+1].title}}</h5>
                                <p class=" mt-3" [innerHTML]="services[item+1].description"></p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>


            <!-- <div class="row row-grid justify-content-center">
                <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
                    <div class="card card-lift--hover shadow border-0 height-100">
                        <div class="card-body py-5">
                            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <h5 class="font-weight-bold mt-3">Fulltime hire</h5>
                            <p class=" mt-3">Full time hire means a direct job offer to a candidate from the intending
                                client
                                company, usually for permanent roles in the company. The employee that joins the
                                organization
                                through direct
                                hiring is given all company benefits and remuneration. In direct hire, which is also
                                known
                                as
                                direct
                                placement, the staffing agency finds, qualifies and hires permanent staff members on
                                behalf
                                of
                                their client.
                                These are usually full-time positions with benefits, though sometimes they are used to
                                fill
                                part-time
                                positions as well.</p>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-out" data-aos-delay="250" class="col-lg-6">
                    <div class="card card-lift--hover shadow border-0 height-100">
                        <div class="card-body py-5">
                            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            <h5 class="font-weight-bold mt-3">Contract to hire</h5>
                            <p class=" mt-3">Contract-to-Hire Services Our contract-to-hire services (also sometimes
                                referred to
                                as: “Temp-to-Hire”, “Temp-to-Perm”, or “Right-to-Hire”) provides a period of evaluation
                                to
                                determine if a
                                temporary or contract employee is a long-term fit from both a skill-set and personal
                                perspective. The
                                recruitment and selection process is managed by our team, saving organizations valuable
                                time and
                                resources.
                                In turn, the individual can showcase his or her skills, cultural fit, and work ethic
                                prior to a
                                formal offer
                                of employment. Our clients consider this approach an invaluable “working interview”.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div data-aos="zoom-out" class="row row-grid mt-5">
                <div class="col-lg-6">
                    <div class="card card-lift--hover shadow border-0 height-100">
                        <div class="card-body py-5">
                            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                <i class="fa fa-globe"></i>
                            </div>
                            <h5 class="font-weight-bold mt-3">Offshore hire</h5>
                            <p class=" mt-3">Our offshore staffing model allows you to choose between “managing your
                                resources
                                by yourself or letting us do it for you,” either way, in this model, our consultants
                                work for
                                you from our
                                office. Recommended for projects with well-defined goals and deliverables, our offshore
                                staffing
                                model
                                optimizes cost while providing state-of-the-art services through our offshore
                                development
                                facilities.</p>
                        </div>
                    </div>
                </div>
                <div data-aos="zoom-out" data-aos-delay="350" class="col-lg-6">
                    <div class="card card-lift--hover shadow border-0 height-100">
                        <div class="card-body py-5">
                            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <h5 class="font-weight-bold mt-3">Temp hire</h5>
                            <p class=" mt-3">Our Temp-to-Hire Program lets you bring a selected candidate into your work
                                environment for on-the-job performance evaluation. The candidate works on the temporary
                                assignment on our
                                payroll while you determine there’s a good fit. If you decide to hire our associate, we
                                will
                                work with you
                                on a prorated fee structure.</p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>

</main>